<div id="<%= dom_id bank_branch %>">
  <p>
    <strong>Ifsc:</strong>
    <%= bank_branch.ifsc %>
  </p>

  <p>
    <strong>Bankname:</strong>
    <%= bank_branch.bankname %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= bank_branch.branch %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank_branch.address %>
  </p>

</div>
