<p style="color: green"><%= notice %></p>

<%= render @bank_branch %>

<div>
  <%= link_to "Edit this bank branch", edit_bank_branch_path(@bank_branch) %> |
  <%= link_to "Back to bank branches", bank_branches_path %>

  <%= button_to "Destroy this bank branch", @bank_branch, method: :delete %>
</div>

<%# ------------------------------CHANGES------------------------- %>

<section class="section customers">
  <div class="container">
    <h2 class="subtitle is-5">
      <strong><%= @bank_branch.customers.count %></strong> Customers
    </h2>
    <%= render @bank_branch.customers %>
    <div class="customer-form">
      <hr />
      <h3 class="subtitle is-3">Add Customer</h3>
      <%= render partial: 'customers/form', locals: { customer: @bank_branch.customers.build } %>
    </div>
  </div>
</section>
