<div id="<%= dom_id bank %>">
  <p>
    <strong>Bankname:</strong>
    <%= bank.bankname %>
  </p>

  <p>
    <strong>Branchname:</strong>
    <%= bank.branchname %>
  </p>

  <p>
    <strong>Ifsc:</strong>
    <%= bank.ifsc %>
  </p>

  <p>
    <strong>District:</strong>
    <%= bank.district %>
  </p>

  <p>
    <strong>State:</strong>
    <%= bank.state %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank.address %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= bank.pincode %>
  </p>

</div>
