<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customerid, style: "display: block" %>
    <%= form.number_field :customerid %>
  </div>

  <div>
    <%= form.label :fname, style: "display: block" %>
    <%= form.text_field :fname %>
  </div>

  <div>
    <%= form.label :ifsc, style: "display: block" %>
    <%= form.text_field :ifsc %>
  </div>

  <div>
    <%= form.label :lname, style: "display: block" %>
    <%= form.text_field :lname %>
  </div>

  <div>
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile %>
  </div>

  <div>
    <%= form.label :pancard, style: "display: block" %>
    <%= form.text_field :pancard %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :district, style: "display: block" %>
    <%= form.text_field :district %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
