<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to related bank", "/banks/#{@customer.ifsc}" %>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>

<section class="section Accounts">
  <div class="container">
    <h2 class="subtitle is-5">
      <strong><%= @customer.accounts.count %></strong> Accounts
    </h2>
    <br/>
    <%= render @customer.accounts %>
    <div class="accounts-form">
      <hr />
      <h3 class="subtitle is-3">New Account </h3>
      <%= render partial: 'accounts/form', locals: { account: @customer.accounts.build } %>
    </div>
  </div>
</section>