<div id="<%= dom_id account %>">
  <p>
    <strong>Accountnum:</strong>
    <%= account.accountnum %>
  </p>

  <p>
    <strong>Customerid:</strong>
    <%= account.customerid %>
  </p>

  <p>
    <strong>Accounttype:</strong>
    <%= account.accounttype %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Ifsc:</strong>
    <%= account.ifsc %>
  </p>

    <%= link_to "Show this account", "/accounts/#{account.accountnum}" %>

</div>
